################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TP/v17
/.vs
/MiniStore/.vs/MiniStore
/MiniStore/MiniStore/obj/Debug/net6.0
/MiniStore/MiniStore/bin/Debug/net5.0
/MiniStore/MiniStore/obj
/MiniStore/.vs/ProjectEvaluation
/images d'internet
/MiniStore/MiniStore/Migrations
