@model MiniStore.ViewModels.Cart.CartViewModels.CartViewModel

<div class="row">
    <div class="col-6">
        <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">Continuer en tant qu'invité</a>
    </div>
    <div class="col-6">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Devenir client</a>
    </div>
</div>