

<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">

            <div class="row">
                <div class="form-group mb-3">
                    <label for="inputlastname">Nom</label>
                    <input type="text" class="form-control mt-1" id="LastName" name="LastName" placeholder="Nom" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3">
                    <label for="inputfirstname">Prénom</label>
                    <input type="text" class="form-control mt-1" id="FirstName" name="FirstName" placeholder="Prénom" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control mt-1" id="address" name="address" placeholder="Adresse" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    <label for="city">Ville</label>
                    <input type="text" class="form-control mt-1" id="city" name="city" placeholder="Ville" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    <label for="province">Province</label>
                    <input type="text" class="form-control mt-1" id="province" name="province" placeholder="Province" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    <label for="country">Pays</label>
                    <input type="text" class="form-control mt-1" id="country" name="country" placeholder="Pays" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    <label for="postalcode">Code postal</label>
                    <input type="text" class="form-control mt-1" id="postalcode" name="postalcode" placeholder="Code postal" required>
                </div>
            </div>


            <div class="row">
                <div class="form-group mb-3">
                    <label for="inputemail">Adresse courriel</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Adresse courriel" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group mb-3">
                    <label for="inputphone">Numéro de cellulaire</label>
                    <input type="text" class="form-control mt-1" id="phonenumber" name="PhoneNumber" placeholder="Numéro de cellulaire" required>
                </div>
            </div>




            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Confirmer</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->