


<h1>Mon Compte</h1>


<div class="row align-content-center">
    <div class="col-md-6">
            @Html.ActionLink("Ajouter une adresse", "Add", "Adresse")

    </div>
    <div class="col-md-6">
            @Html.ActionLink("Mes Commandes", "List", "Client")
    </div>
</div>