@{
    var data = ViewData["name"];
    var address = (List<string>)ViewData["address"];
}

<div class="container my-5">

    <h4>Bonjour, @data</h4>

    <div class="row align-content-center my-4">
        <div class="col-md-6">
            @if (address != null)
                foreach (var a in address)
                {
                    <p>@a</p>
                }

            <a href='@Url.Action("Add", "Adresse")' class="btn btn-primary">Ajouter une adresse</a>
        </div>
        <div class="col-md-6">
            <a href='@Url.Action("List", "Client")' class="btn btn-primary">Mes Commandes</a>
        </div>
    </div>
</div>

